
<link rel="stylesheet" href="/assets/input.css">

<div class="input">
  <table>
    <tr>
      <td>Team: </td><td><select id="input-teams" data-bind=""></select></td>
    </tr>
    <tr>
      <td>Member: </td><td><select></select></td>
    </tr>
    <tr>
      <td>Start Date: </td><td><select></select></td>
    </tr>
    <tr>
      <td>End Date: </td><td><select></select></td>
    </tr>
  </table>
</div>
