<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  //Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [340, 340]
  Dashing.numColumns = 4
});
</script>


<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="leadandcycletime" data-id="leadandcycletime" data-view="Rickshawgraph" data-title=""
        data-graphtype="line" data-legend="true">
      </div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="monthlyleadandcycletime" data-view="Rickshawgraph" data-title=""
        data-graphtype="line" data-legend="true"
        style="background-color:#12c54a;">
      </div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="stats" data-view="Stats"
        data-title="Lead and Cycle Time Stats"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="stories" data-view="Rickshawgraph" data-title=""
        data-graphtype="line" data-legend="true"
        style="background-color:#12b0c5;">
      </div>
    </li>
    <!--
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="outboard" data-view="Outboard" data-title="Who's Where"></div>
    </li>
    -->
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="release" data-view="Release"
        data-title="Release Steps"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="codecutoff" data-view="Meter"
        data-title="Code Cut Off" data-min="0" data-max="1209600"></div>
    </li>
  </ul>
</div>
